extends ../layouts/default
    
block intro
  .container
    h1 Sandbox

block content
  .container
    each entry in about
      p #{entry.bio}
      p #{entry.email}
      p #{entry.phone_Number}
      p #{entry.address}