extends ../layouts/default

block content
  .container
    div.aboutPage
      h1 Sandbox
      each entry in about
        div.aboutPageBio 
          p #{entry.bio}
        div.aboutPageEmail
         p #{entry.email}
        div.aboutPagePhoneNumber
          p #{entry.phone_Number}
        div.aboutPageAddress
          p #{entry.address}