extends ../layouts/default
    
block intro
  .container
    h1 Sandbox

block content
  .container
    each entry in about
      div.aboutPageBio 
        p #{entry.bio}
      div.aboutPageEmail
        p #{entry.email}
      div.aboutPagePhoneNumber
        p #{entry.phone_Number}
      div.aboutPageAddress
        p #{entry.address}