extends ../layouts/default

block content
  .container
    div.eventsPage
      each event in events
        div.eventContainer.container
          div.eventName
            h2 #{event.name}
          div.eventContent.row
            div.eventBlurb.col-sm-6
              p #{event.blurb}
          div.eventContentRight.row
            div.eventDate.col-sm-3
              p #{event.date}
            div.eventUrl.col-sm-3
              a(href="#{event.eventbriteLink}") More info