#body.member{
	padding-top:@header-height;
	.member-wrapper{
		background-color: @sandbox-silver;
		font-family: 'Raleway';
		font-weight: 800;
		cursor: default;
		.member-name{
			text-align: center;
			color: @sandbox-red;
			text-transform: uppercase;
			font-weight: bold;
			font-family: Oswald;
			.fontSize(16px, 24px, 32px, 40px);
		}
		.member-bio, .member-products{
			padding-bottom: 50px;
		}

		.member-image{
			width:25%;
			height: auto;
			width: 100% !important;
			border:0px;
		}
	}
	.slideshow{
		height: auto ;
		position: absolute;
		overflow: hidden;
		background-color: #ececea;
		.slideshow-container{
			width: 3000px;
			height: auto;
			-webkit-transition: 300ms ease;
			transform: translate3d(0px, 0px, 0px);
			background-color: transparent;
			.slideshow-image{
				float: left;
				.widths(50%, 20px);
				// width: 200px;
				height: auto;
				margin-left:5px;
				// margin-right: 10px;
				position: absolute;
				.transition(.7s ease-in-out left);

			}
		}
		.slideshow-left,.slideshow-right{
			position: absolute;
		}
		.slideshow-right{
			top: 0px;
			right: 0px;
		}
		.slideshow-left{
			top: 0px;
			left: 0px;
		}
		&[data-position="0"]{
			.arrow-left{
				visibility: hidden;
				opacity:0;
  			transition:all 0.5s linear;
			}
			.slideshow-image{
				&.one{
					left:10px;
				}
				&.two{
					left:50%;
				}
				&.three{
					left:100%;
				}
				&.four{
					left:150%;
				}
				&.five{
					left:200%;
				}
			}
		}
		&[data-position="1"]{
			.slideshow-image{
				&.one{
					left:-50%;
				}
				&.two{
					left:10px;
				}
				&.three{
					left:50%;
				}
				&.four{
					left:100%;
				}
				&.five{
					left:150%;
				}
			}
		}
		&[data-position="2"]{
			.slideshow-image{
				&.one{
					left:-100%;
				}
				&.two{
					left:-50%;
				}
				&.three{
					left:10px;
				}
				&.four{
					left:50%;
				}
				&.five{
					left:100%;
				}
			}
		}
		&[data-position="3"]{
			.arrow-right{
				visibility: hidden;
				opacity:0;
  			transition:all 0.5s linear;
			}
			.slideshow-image{
				&.one{
					left:-150%;
				}
				&.two{
					left:-100%;
				}
				&.three{
					left:-50%;
				}
				&.four{
					left:10px;
				}
				&.five{
					left:50%;
				}
			}
		}
	}


}



.member-shortBio{
	text-align: center;
	a {
	text-align: center;
	color: @sandbox-red;
	}
}

.memberContainer{
	.make-row();
}
.memberContainer .memberColumn{
	.make-md-column(4);
	width: 33%;
}

.left-container,.right-container{
	padding-left: 50px;
	padding-right: 50px;
}