.bullet-nav{
	position: fixed;
	top: 50%;
	right: 1em;
	margin-top: -99px;
	display: block;
	z-index: 500;
	.bullet{
		display: block;
		text-indent: -999em;
		background: #fff;
		width: 12px;
		height: 12px;
		border-radius: 6px;
		margin: 10px 0 0 0;
		border: 1px solid @light-grey;
		background-color: @light-grey;
		.transition(.3s, ease-out);
		&:hover, &.active{
			background-color: @sandbox-red;
			border: 1px solid @sandbox-red;
		}
	}
}