.bullet-nav{
	position: fixed;
	top: 50%;
	right: 1em;
	margin-top: -99px;
	display: block;
	z-index: 500;
	.bullet{
		display: block;
		text-indent: -999em;
		background: #fff;
		width: 12px;
		height: 12px;
		border-radius: 6px;
		margin: 10px 0 0 0;
		border: 1px solid @light-grey;
		background-color: @light-grey;
		.transition(.3s, ease-out);
	}
}

.bullet-1, .bullet-8{
	&:hover, &.active{
		background-color: @sandbox-blue;
		border: 1px solid @sandbox-blue;
	}
}
.bullet-2, .bullet-9{
	&:hover, &.active{
		background-color: @sandbox-forest-green;
		border: 1px solid @sandbox-forest-green;
	}
}
.bullet-3, .bullet-10{
	&:hover, &.active{
		background-color: @sandbox-seafoam-light;
		border: 1px solid @sandbox-seafoam-light;
	}
}
.bullet-4, .bullet-11{
	&:hover, &.active{
		background-color: @sandbox-pumpkin;
		border: 1px solid @sandbox-pumpkin;
	}
}
.bullet-5, .bullet-12{
	&:hover, &.active{
		background-color: @sandbox-blood-orange;
		border: 1px solid @sandbox-blood-orange;
	}
}
.bullet-6, .bullet-13{
	&:hover, &.active{
		background-color: @sandbox-olive;
		border: 1px solid @sandbox-olive;
	}
}
.bullet-7, .bullet-14{
	&:hover, &.active{
		background-color: @sandbox-carrot;
		border: 1px solid @sandbox-carrot;
	}
}