#header{
	background-color: black;
	position: fixed;
	width: 100%;

	.navbar{
		background-color: transparent;
		border:0px;
		margin-bottom: 0px;
	}
}

#body{
	margin: 0px;
	padding: 0px;
	width: 100%;
	.container{
		width: 100%;
		height: 100%;
		margin: 0px;
		padding: 0px;
	}
	.slide{
		&#splash{
			background-image: url('/images/wood_wall_5.jpg');
		}
	}
}
#footer{
	height: 0px;
	margin: 0px;
	padding: 0px;
}