#header{
	background-color: black;
	position: fixed;
	width: 100%;

	.navbar{
		background-color: transparent;
		border:0px;
		margin-bottom: 0px;
	}
}

#body{
	margin: 0px;
	padding: 0px;
	width: 100%;
	.container{
		width: 100%;
		height: 100%;
		margin: 0px;
		padding: 0px;
	}
	.slide{
		&#splash{
			background-image: url('/images/wood_wall_5.jpg');
		}
		&#beautiful-barley{
			background-image: url('/images/headshot_beautiful_beard.png');
		}
		&#born-and-dyed{
			background-image: url('/images/headshot_born_and_dyed.png');
		}
		&#cherry-tree{
			background-image: url('/images/headshot_cherry_tree.png');
		}
		&#chubby-bunny{
			background-image: url('/images/headshot_chubby_bunny.png');
		}
		&#mighty-axe{
			background-image: url('/images/headshot_mighty_axe.png');
		}
		&#racing-heart{
			background-image: url('/images/headshot_racing_heart_els.png');
		}
		&#south-paw{
			background-image: url('/images/headshot_south_paw_beth.png');
		}
	}
}
#footer{
	height: 0px;
	margin: 0px;
	padding: 0px;
}