#header li a {
  color: white !important;
}
.navbar-brand{
  color: white !important;
}
.gallery-image img{
    display:block;
    max-width:100%;
    height:auto;
}
#body.members, #body.blog, #body.contact{
	padding-top: @header-height;
}

.active a{
	background-color: white !important;
}

.attribution {
  display: inline-block;
  text-align: right;
  float: right;
}

.footer{
  width: 100%;
  background-color: black;
  color: white;
  border: 0px;
  bottom: 0;
  height: 20px;
  font-family: Raleway;
}

a:hover, a:active {
  text-decoration: none !important;
}