.widths(@width,@marginSize) {

  width: calc(@width~" - "@marginSize);
  width: -moz-calc(@width~" - "@marginSize);
  width: -webkit-calc(@width~" - "@marginSize);
  width: -o-calc(@width~" - "@marginSize);
}
.lefts(@left,@marginSize) {

  left: calc(@left~" + "@marginSize);
  left: -moz-calc(@left~" + "@marginSize);
  left: -webkit-calc(@left~" + "@marginSize);
  left: -o-calc(@left~" + "@marginSize);
}

.leftMargin(@totalWidth,@divWidth) {

  left: calc(~"("@totalWidth~"/2) - ("@divWidth~"/2)");
  left: -moz-calc(~"("@totalWidth~"/2) - "@divWidth~"/2)");
  left: -webkit-calc(~"("@totalWidth~"/2) - "@divWidth~"/2)");
  left: -o-calc(~"("@totalWidth~"/2) - "@divWidth~"/2)");
}

.fadeText(@duration){
  -webkit-transition: color @duration linear 0s;
  -moz-transition: color @duration linear 0s;
  -ms-transition: color @duration linear 0s;
  -o-transition: color @duration linear 0s;
  transition: color @duration linear 0s;
}
.fadeBorder(@duration){
  -webkit-transition: border-color @duration linear 0s;
  -moz-transition: border-color @duration linear 0s;
  -ms-transition: border-color @duration linear 0s;
  -o-transition: border-color @duration linear 0s;
  transition: border-color @duration linear 0s;
}

.fontSize(@xs,@sm,@md,@lg){
  @media (min-width: 320px) and (max-width: 480px) {
      font-size: @xs;
  }
  @media (min-width: 480px) {
      font-size: @sm;
  }
  @media (min-width: 768px) {
      font-size: @md;
  }
  @media (min-width: 1200px) {
      font-size: @lg;
  }
}